@charset "UTF-8";

/* チャプター:CSSの実習準備 */
body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

a {
     color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

/* チャプター:マージン */
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.6;
}

img {
    vertical-align: bottom;
}

/* チャプター:見出しの装飾 */
#main h2 {
    background: #fff;
    font-size: 20px;
    padding: 8px 22px;
    border-radius: 2px;
    border: 1px solid #956840;
}

#main h3 {
    font-size: 16px;
    border-left: solid 3px #fa9786;
    padding: 4px 9px 4px 14px;
}

/* チャプター:ヘッダーエリア */
header {
    width: 984px;
    margin: 0 auto;
}

header h1 {
    margin: 5px 0 10px;
}

/* チャプター:グローバルナビゲーション */
#globel_navi {
    width: 984px;
    overflow: hidden;
    margin: 16px auto;
}

#global_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#global_navi ul li {
    width: 163px;
    float: left;
    margin-right: 1px;
    text-align: center;
}

#global_navi ul li a {
    display: block;
    padding: 10px 16px;
    background-color: #f0573e;
    color: #fff;
    text-decoration: none;
    transition: background-color  .2s linear;
}

#global_navi ul li.current a {
    background-color: #fa9786;
}

#global_navi ul li a:hover {
    background-color: #fa9786;
}

/* チャプター:レイアウト(メインエリア) */
#wrapper {
    width:  984px;
    margin:  0 auto;
    overflow:  hidden;
}

/* メイン部分 */
#main {
    width: 730px;
    float: left;
}

/* チャプター:レイアウト(サイドバー) */
#sidebar {
    width: 220px;
    float: right;
}

#side_banner {
    margin-bottom: 30px;
    border: 1px solid #956840;
    text-align: center;
}

#side_banner h2 {
    background-color:  #956840;
    color: #fff;
    padding: 7px;
    font-size: 14px;
    text-align: center;
}

#side_banner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* チャプター:フッターナビゲーション */
footer {
    background-color:  #956840;
    text-align:  center;
}

footer #footer_nav {
    background-color: #f0f0f0;
    padding: 10px 0;
}

footer #footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

footer #footer_nav li {
    display: inline;
    border-left: solid 1px #333;
    margin-left: 8px;
    padding-left: 8px;
    font-size: smaller;
}

footer #footer_nav li:last-child {
    border-right: solid 1px #333;
    padding: 0 8px;
}

footer small {
    display: block;
    padding: 8px 0;
    color: #fff;
}

/* チャプター:トップページ */
#main_visual {
    width: 984px;
    height: 440px;
    margin: 0 auto 25px;
}

/* TechAcademy KITCHENについて */
#point {
    margin-bottom: 30px;
}

#point section {
    margin-bottom: 10px;
    overflow: hidden;
}

#point figure {
    float: right;
    margin: 0 0 0 16px;
}

#point figcaption {
    font-size: 12px;
    color: #9C9689;
    text-align: center;
}

/* お知らせ */
#news dl {
    overflow:  hidden;
}

#news dt {
    float: left;
    width: 8em;
    margin-bottom: 10px;
    clear: both;
}

#news dd {
    margin-left: 8em;
    margin-bottom: 10px;
}